.sidebar {
  background-color: black;

  .container{
    text-align: center;
    font-size: 2rem;
  }

  .sidebar-heading {
    color: white;
    align-items: center;

    .list-group {

      .list-group-item {

      }
    }
  }
}