.sidebar {
  background-color: black;

.sidebar-fixe{
  position: fixed;
}


  .container {
    text-align: center;
    font-size: 2rem;

    .sidebar-heading {
      color: white;
      align-items: center;
      padding: 1rem;
      display: block;

      .list-group {
        .list-group-item {

        }
      }
    }
  }
}