@import "variables";

@import "~bootstrap";

@import "components/main";
@import "components/sidebar";

@import "icons/like";

@import "feed";
@import "index";
@import "footer";
@import "forms-add";
@import "register";
@import "edit-profil";
@import "header";
